## PROBLEM 1

Count the number of D's in a string. This will be case insensitive.

In [5]:
#storing the string into variable
string = 'Data visualization is an important aspect of data science, as it allows us to explore and communicate patterns and insights in a meaningful way.'

In [8]:
#find the total no. of D's in the above string. this will be case insensitive
Total_Ds =string.lower().count('d')
print(Total_Ds)

4

In [13]:
#use f' string to print the total number of D's in your string
print(f"Total Number of D's are {Total_Ds}")

Total Number of D's are 4

## PROBLEM 2

A dictonary contains the marks of the students and there names, where names are keys and marks are values bymistake the teachere has given the lowest marks to the student who got the highest marks and gave highest mark to the student who actually got lowest mark. You have to correct the mistake and update the dictonary.

In [91]:
students_marks_dict = {'Shubham': 45, 'Krity': 98, 'Rachna':41, 'Aniket': 56, 'Vaibhav': 78, 'Rushikesh': 79}

In [92]:
#Find out lowest mark
lowest_marks = min(students_marks_dict.values())
print(f"Lowest Marks : {lowest_marks}")

#Find out highest mark
highest_marks = max(students_marks_dict.values())
print(f"Highest Marks : {highest_marks}")

#Find which student got lowest mark
lowest_marks_name = min(students_marks_dict, key=students_marks_dict.get)
print("Student with Lowest Marks : ",lowest_marks_name)
#Find which student got highest mark
highest_marks_name = max(students_marks_dict, key=students_marks_dict.get)
print("Student with Highest Marks : ",highest_marks_name)

Lowest Marks : 41
Highest Marks : 98
Student with Lowest Marks :  Rachna
Student with Highest Marks :  Krity

In [96]:
#update the marks by giving highest mark to lowest mark student and lowest mark to highest mark student

temp=students_marks_dict[highest_marks_name]
students_marks_dict[highest_marks_name] = students_marks_dict[lowest_marks_name]
students_marks_dict[lowest_marks_name] = temp

print(temp)
print(students_marks_dict[highest_marks_name])
print(students_marks_dict[lowest_marks_name])

print(lowest_marks_name)
print(highest_marks_name)

98
41
98
Rachna
Krity

In [94]:
#print the updated dictonary
print(students_marks_dict)

{'Shubham': 45, 'Krity': 41, 'Rachna': 98, 'Aniket': 56, 'Vaibhav': 78, 'Rushikesh': 79}

## PROBLEM 3

Find out the index values of the given element in the repective string and list

In [10]:
# 1) given is a string what is the index value of the 'analytics'

sample_string = 'The goal of data analytics is to provide actionable insights that can help organizations make data-driven decisions and improve their performance.'

print(f"The index value analytics is : {sample_string.index('analytics')}")      # print the index value analytics

The index value analytics is : 17

In [15]:
# 2) Given is a list, what is the index value of 34 in the list

sample_list = ['Virat', 'Anushka', ['Dhoni',[23,'ABD',999, 344, 34], 'Jadeja', ['Aswin', 'Raiydu', [1,2,3,4,55,6],'Butler']]]

list_with_34= sample_list[2][1]
index_value = list_with_34.index(34)
print(f"Index value of 34 is : {index_value}")    #print the index value of 34

Index value of 34 is : 4

## PROBLEM 4

Measures of Averages Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group. Median is the middle number in a sorted, ascending or descending, list of numbers.

In [106]:
# List of product prices
List_of_prices = [200, 340, 350, 230, 234, 540, 540, 340, 200, 340, 231, 342, 200, 234, 200, 200]

print(sum(List_of_prices))

4721

FIND MEAN

In [24]:
# find the mean of the product prices and print it

mean_price = sum(List_of_prices)/len(List_of_prices)
print("Mean Price is : ",mean_price)

Mean Price is :  295.0625

FIND MEDIAN

In [28]:
# find the median price of the product
sorted_list_of_prices=sorted(List_of_prices)
print(sorted_list_of_prices)
mid=int(len(sorted_list_of_prices)/2)
median_price = (sorted_list_of_prices[mid-1]+sorted_list_of_prices[mid])/2
print("Median Price is : ",median_price)

[200, 200, 200, 200, 200, 230, 231, 234, 234, 340, 340, 340, 342, 350, 540, 540]
Median Price is :  234.0

FIND MODE

In [107]:
#Find the mode price in the list of prices
import statistics

mode_price = statistics.mode(List_of_prices)
print(mode_price)

200

## PROBLEM 5

Challenge the immuatbility of the tupl. replace the the given element in the tuple.

In [57]:
sample_list_of_tuples = [(12,24), (13,26), (14,28), (15,32)]

#here you can see the 2nd elemnt in the tuple is twice of first element but this not case with last tuple, 
#so solve the problem
last_element = sample_list_of_tuples.pop()
final_element = (last_element[0],last_element[0]*2)
sample_list_of_tuples.append(final_element)
print("Changes done accordingly ",sample_list_of_tuples)

Changes done accordingly  [(12, 24), (13, 26), (14, 28), (15, 30)]

## PROBLEM 6

Write a Python script to check whether a given key already exists in a dictionary. If it does, drop that key from the dictionary. If it does not, add that key and corresponding value to the dictionary

In [29]:
employee_dict = {'Name':'Adam','Skills':['Python','Machine Learning','SQL', 'Power BI'],'Band':6.0,
                 'Promotion Year':[2015,2018,2020]}

In [59]:
#check weather 'designation' key is present in the above dictonary, if not then 
#add this new key and give 'Senior data analyst' as value
value = employee_dict.get('designation','Senior data analyst')
if value == 'Senior data analyst':
  employee_dict['designation'] = 'Senior data analyst'
else :
  print("No change required")

In [58]:
#print updated dictonary
print(employee_dict)

{'Name': 'Adam', 'Skills': ['Python', 'Machine Learning', 'SQL', 'Power BI'], 'Band': 6.0, 'Promotion Year': [2015, 2018, 2020], 'designation': 'Senior data analyst'}