## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

### As an analyst, you had to present the quarterly performance results of your client. The data which you were provided was on daily basis. To complete this task, you needed to extract the quarter from a given date. For example:

* if the date lies between 1st Jan, 2020 - 31st March, 2020, you need to extract the corresponding quarter as '2020-Q1'

* if the date lies between 1st April, 2020 - 30th June, 2020, the extracted quarter will be '2020-Q2'

* if the date lies between 1st July, 2020 - 30th September, 2020, the extracted quarter will be '2020-Q3' 

* if the date lies between 1st October, 2020 - 31st Decemeber, 2020 then the extracted quarter will be '2020-Q4'

In [1]:
# Take a proper date input from the user in the format YYYY-MM-DD. Consider this date as a string
user_date = input("Enter Date in format of YYYY-MM-DD .")

Enter Date in format of YYYY-MM-DD .2022-06-22

In [2]:
# Write your code using if else statements to extract the quarter
date_year = user_date[0:4]
date_month = int(user_date[5:7])
print(date_year)
print(date_month)
# Store the quarter value in a string variable named quarter
if (date_month>=1 and date_month<=3 ) :
  quarter = date_year+"-Q1"
elif (date_month>=4 and date_month<=6) :
  quarter = date_year+"-Q2"
elif (date_month>=7 and date_month<=9) :
  quarter = date_year+"-Q3"
elif (date_month>=9 and date_month<=12) :
  quarter = date_year+"-Q4"
else :
  quarter = "Enter proper month"
# Store the quarter value in a string variable named quarter

2022
6

In [3]:
# Print the extracted quarter
print(quarter)

2022-Q2

## <u>Problem 2 </u>

* You went out in your local neighbourhood to collect the data of people residing in the locale. You surveyed 5 people and collected some data and stored that in a dictionary. You recorded their names, their age, their sex, their heights(in cms) and their weights(in kgs)

In [4]:
# Surveyed data 

locality_data = {'Name' : ['Abhinav','Sohail','Dheeraj','Rashmi','Vaishali'],
                  'Age' : [42,29,35,28,32],
                  'Sex' : ['Male', 'Male','Male','Female','Female'] , 
                  'Height' : [172,175,170,168,170],
                  'Weight' : [70,82,60,55,64]
                 }

* Find the mean and median heights and weights of the people in your locality

In [5]:
# Calculate the mean height and print it
all_heights = locality_data['Height']
print(f"All Heights : {all_heights}")
mean_height=int((sum(all_heights)/len(all_heights)))
print(f"Mean Height : {mean_height}")



# Calculate the median height and print it
all_heights=sorted(all_heights)
print(f"Sorted Heights : {all_heights}")
median_height=int(all_heights[int(len(all_heights)/2)])
print(f"Median Height : {median_height}")

# Calculate the mean weight and print it
all_weights = locality_data['Weight']
print(f"All Weights : {all_weights}")
mean_weight=int((sum(all_weights)/len(all_weights)))
print(f"Mean Weight : {mean_weight}")


# Calculate the median weight and print it
all_weights=sorted(all_weights)
print(f"Sorted Weights : {all_weights}")
median_weight=all_weights[int(len(all_weights)/2)]
print(f"Median Weight : {median_weight}")

All Heights : [172, 175, 170, 168, 170]
Mean Height : 171
Sorted Heights : [168, 170, 170, 172, 175]
Median Height : 170
All Weights : [70, 82, 60, 55, 64]
Mean Weight : 66
Sorted Weights : [55, 60, 64, 70, 82]
Median Weight : 64

* Write a Python code to print the first three elements from the list of age values corresponding to the key 'Age'

In [6]:
# Python code to print the first three elements for the key 'Age'

ages = locality_data['Age']
print(ages[0:3])

[42, 29, 35]

* Write a Python code to print the last two elements of the name list if the list of values corresponding to the key 'Name' contains the element 'Rashmi' else print 'Name not found'

In [7]:
# Your code below

names = locality_data['Name']
index = names.index('Rashmi')
if index:
 print(names[-2:])
else :
   print("Name not found")

['Rashmi', 'Vaishali']

## <u> Problem 3 </u>

A student will not be allowed to sit in exam if his/her attendence is less than 75%.

Take following input from user
* Number of classes held
* Number of classes attended.

In [8]:
# Enter your input

print("Number of classes held")
classes_held = int(input())

print("Number of classes attended")
classes_attended = int(input())

Number of classes held
120
Number of classes attended
11

In [9]:
# Calculate the attendance percentage
attendance = classes_attended*100/classes_held

print(f'The attendance is {attendance}')

The attendance is 9.166666666666666

And print the following statements based on the condition above

* percentage of class attended
* Is student is allowed to sit in exam or not.

In [10]:
# Your code here 
print(f"Percentage of classs attended is {attendance}")
if attendance>=75:
  print("Yes you are allowed to sit in exam !")
else :
  print("No you are not allowed to sit in exam !")

Percentage of classs attended is 9.166666666666666
No you are not allowed to sit in exam !

## <u>Problem 4</u>

### A school has following rules for grading system:
* Below 25 - F
* 25 to 45 - E
* 45 to 50 - D
* 50 to 60 - C
* 60 to 80 - B
* Above 80 - A

Keep the left number inclusive and the right number exclusive, something like [25,45) for grade E where the set is closed at 25 and open at 45.

Write a Python code which takes marks as inputs from the user and print the corresponding grade.

In [11]:
# Your input here 
print("Enter your marks")
marks = int(input())

Enter your marks
92

In [12]:
# Your code here to print the corresponding grade
if marks<25:
  print("F")
elif marks>=25 and marks<45:
  print("E")
elif marks>=45 and marks<50:
  print("D")
elif marks>=50 and marks<60:
  print("C")
elif marks>=60 and marks<80:
  print("B")
else:
  print("A")

A